<body>
  <div class="container">
    <h1>Real-Time Billionaires</h1>
    <div class="row" *ngFor="let person of data.personList.personsLists">
      <div class="billionaire-card card">
        <div class="card-body d-flex flex-wrap">
          <img
            class="img-thumbnail person-image"
            src="{{ person.squareImage }}"
            alt="{{ person.personName }}"
          />
          <div
            class="person-details d-flex flex-column justify-content-between px-3"
          >
            <div>
              <h2>{{ person.rank }}. {{ person.personName }}</h2>
            </div>
            <div class="card flex justify-content-center">
              <p-fieldset
                legend="DIsplay"
                [toggleable]="true"
                (click)="toggleDetails(person)"
              >
              </p-fieldset>
            </div>
            <!-- <button class="btn btn-primary" (click)="toggleDetails(person)">
              View Details
            </button> -->
          </div>

          <div class="card-body" *ngIf="showDetails[person.naturalId]">
            <div class="grid-container">
              <div class="grid-item image">
                <img
                  class="img-thumbnail person-image"
                  src="{{ person.squareImage }}"
                  alt="{{ person.personName }}"
                />
              </div>
              <div class="grid-item details">
                <h2>{{ person.rank }}. {{ person.personName }}</h2>
                <p>
                  <strong>Net Worth:</strong> {{ person.finalWorth }} Million
                  USD
                </p>
                <p><strong>Source of Wealth:</strong> {{ person.source }}</p>
                <p><strong>Industry:</strong> {{ person.industries[0] }}</p>
                <p><strong>Bio:</strong></p>
                <ul>
                  <li *ngFor="let bio of person.bios">{{ bio }}</li>
                </ul>
              </div>
            </div>

            <div class="d-flex justify-content-between align-items-center mb-2">
              <button
                class="btn btn-secondary"
                (click)="toggleFinancialAssets(person)"
              >
                Financial Assets
              </button>
              <div
                class="financial-assets"
                *ngIf="showFinancialAssets[person.naturalId]"
              >
                <p>
                  <strong>Total Assets Value:</strong>
                  {{ getFinancialAssetsTotal(person.financialAssets) }} Million
                  USD
                </p>
                <div class="card">
                  <div class="card-header">Financial Assets</div>
                  <ul class="list-group list-group-flush">
                    <li
                      class="list-group-item"
                      *ngFor="let asset of person.financialAssets"
                    >
                      {{ asset.companyName }} ({{ asset.exchange }}):
                      {{ asset.numberOfShares }} shares ${{
                        asset.sharePrice
                      }}
                      ({{ asset.currencyCode }})
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<!-- </body> -->

<!-- <div class="d-flex justify-content-between align-items-center">
              <button
                class="btn btn-secondary"
                (click)="toggleFinancialAssets(person)"
              >
                Financial Assets
              </button>
              <p *ngIf="showFinancialAssets[person.naturalId]">
                <strong>Total Assets Value: </strong>
                {{ getFinancialAssetsTotal(person.financialAssets) }} Million
                USD
              </p>
            </div>
            <div
              class="card financial-assets"
              *ngIf="showFinancialAssets[person.naturalId]"
            >
              <div class="card-header">Financial Assets</div>
              <ul class="list-group list-group-flush">
                <li
                  class="list-group-item"
                  *ngFor="let asset of person.financialAssets"
                >
                  {{ asset.companyName }} ({{ asset.exchange }}):
                  {{ asset.numberOfShares }} shares ${{ asset.sharePrice }} ({{
                    asset.currencyCode
                  }})
                </li>
              </ul>
            </div>
          </div> -->
<!-- <body>
  <div class="container">
    <h1>Real-Time Billionaires</h1>
    <div class="row" *ngFor="let person of data.personList.personsLists">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header d-flex justify-content-between">
            <h2>{{ person.rank }}. {{ person.personName }}</h2>
            <button class="btn btn-primary" (click)="toggleDetails(person)">
              Details
            </button>
          </div>
          <div class="card-body" *ngIf="showDetails[person.naturalId]">
            <p>
              <strong>Net Worth:</strong> {{ person.finalWorth }} Million USD
            </p>
            <p><strong>Source of Wealth:</strong> {{ person.source }}</p>
            <p><strong>Industry:</strong> {{ person.industries[0] }}</p>
            <img
              class="img-thumbnail"
              src="{{ person.squareImage }}"
              alt="{{ person.personName }}"
            />
            <p><strong>Bio:</strong></p>
            <ul>
              <li *ngFor="let bio of person.bios">{{ bio }}</li>
            </ul>
            <div class="d-flex justify-content-between">
              <button
                class="btn btn-secondary"
                (click)="toggleFinancialAssets(person)"
              >
                Financial Assets
              </button>
              <p *ngIf="showFinancialAssets[person.naturalId]">
                <strong>Total Assets Value: </strong>
                {{ getFinancialAssetsTotal(person.financialAssets) }} Million
                USD
              </p>
            </div>
            <div class="card" *ngIf="showFinancialAssets[person.naturalId]">
              <div class="card-header">Financial Assets</div>
              <ul class="list-group list-group-flush">
                <li
                  class="list-group-item"
                  *ngFor="let asset of person.financialAssets"
                >
                  {{ asset.companyName }} ({{ asset.exchange }}):
                  {{ asset.numberOfShares }} shares ${{ asset.sharePrice }} ({{
                    asset.currencyCode
                  }})
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body> -->
<!-- <div class="container">
  <h1>Real-Time Billionaires</h1>
  <div class="row" *ngFor="let person of data.personList.personsLists">
    <div class="col-md-6">
      <h2>{{ person.rank }}. {{ person.personName }}</h2>
      <p><strong>Net Worth:</strong> {{ person.finalWorth }} Million USD</p>
      <p><strong>Source of Wealth:</strong> {{ person.source }}</p>
      <p><strong>Industry:</strong> {{ person.industries[0] }}</p>
      <img
        class="img-thumbnail"
        src="{{ person.squareImage }}"
        alt="{{ person.personName }}"
      />
      <p><strong>Bio:</strong></p>
      <ul>
        <li *ngFor="let bio of person.bios">{{ bio }}</li>
      </ul>
    </div>
  </div>
</div> -->
